<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text-utils is working</title>
</head>
<body>
    <form action='/analyze' method='get'>
    <h1>Welcome to the text analyzer.</h1>
    <h2>Enter your text below</h2>
    <textarea name='text' style="width: 984px; height: 260px;"></textarea><br>
    <input type = 'checkbox' name= 'removepunc'> Removepuctuations <br>
    <button type="submit">Analyze text</button>
    </form>
</body>
</html>