<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Textutil.com</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Textutils.com</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Contact us</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">FAQs</a>
            </li>
          </ul>
        </div>
        <form class="d-flex" role="search">
          <input
            class="form-control me-2"
            type="search"
            placeholder="Search"
            aria-label="Search"
          />
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </nav>
    <div class="alert alert-success alert-dismissible fade show" role="alert">
      <strong>Welcome to TextUtils!</strong> You can do anything with your text
      here!
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="container mt-4">
      <form action="/analyze" method="get">
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            ><h2>Enter your text below</h2></label
          >
          <textarea
            name="text"
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="10"
          ></textarea>
        </div>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            name="removepunc"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault1"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault1"
            >Remove Punctuations</label
          >
        </div>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            name="fullcaps"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault2"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault2"
            >capitalize</label
          >
        </div>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            name="newlineremover"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault3"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault3"
            >New line remover</label
          >
        </div>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            name="extraspaceremover"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault4"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault4"
            >Extra space remover</label
          >
        </div>
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            name="charcount"
            type="checkbox"
            role="switch"
            id="flexSwitchCheckDefault5"
          />
          <label class="form-check-label" for="flexSwitchCheckDefault5"></label
          >Count the characters
        </div>
        <button type="submit" class="btn btn-dark mt-2">Analyze text</button>
      </form>
    </div>
  </body>
</html>
